* {
    margin:0px;
    padding:0px;
  }
  body
  {
   
    background-color: black;
  }
  #octocat {
    display: block;
    width:384px;
    margin: 50px auto;
    border-radius: 10%;
    border-style: groove;
    border-width: 1ch;
    border-color: rebeccapurple;
  }
  
  p {
    display: block;
    width: 400px;
    margin: 50px auto;
    font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  }
